extends layout

block content
    h1.title.is-1 Elastic Load Balancer
    h3.title.is-3 Instance Internal IP: #{ip}
    div.box
        form(method='POST', action='/health-status-code', enctype='application/x-www-form-urlencoded')
            div.field
                label.label Set Health Endpoint Status
                div.control
                    select.select(name="healthStatusCode")
                        option(value="200") 200
                        option(value="500") 500
            div.field
                div.control
                    input.button.is-link(type='submit', value='Submit')
